﻿@model Wlx.Reading.Models.LoginViewModel

@{
    //Layout = "";
    ViewBag.Title = "用户登录";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8" id="loginForm">
        <input type="button" id="loginButton" class="k-button" value="登录"/>
    </div>
</div>

<div class="k-window" id="center">
    <div class="k-edit-inline">
        <label>用户名:</label>
        <div class="k-edit">
            <input class="k-textbox"/>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var windowHeight=$(window).height();
        var windowWidth = $(window).width();
        var popWindowHeight = $(".k-window").height();
        var popWindowWidth=$(".k-window").width();
        popWindow();
        function popWindow() {
            var popY = (windowHeight - popWindowHeight) / 2;
            var popX = (windowWidth - popWindowWidth) / 2;
            $("#center").css("top", popY).css("left", popX).slideToggle("normal");
        }
    })
</script>