﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/toastr.js"></script>
        <script src="~/Scripts/toastr.min.js"></script>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
    </head>
    <body class="k-body">
        <div class="k-header">
            <div class="p-l-1056">
                <div class="nav">
                    <a href=""class="nav1" hidefocus="true">栏目1</a>
                    <a href="" class="nav1" hidefocus="true">栏目2</a>
                    <a href="" class="nav1" hidefocus="true">栏目3</a>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                
            </footer>
        </div>
        <div class="k-footer">
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
<script src="../../Scripts/durandal/app.js"></script>
