﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/*自主添加样式*/
body.k-body {
    padding: 0;
    margin: 0;
}

.k-header {
    background-color: black;
    position: relative;
    color: #fff;
}

input.k-button {
    padding: 0 5px 0 5px;
    margin: 20px;
    border-radius: 4px;
    position: absolute;
    border-color: #dbdbde;
    background-color: #111;
    font-size: 12px;
    font-family: "Microsoft YaHei",Arial, Helvetica, sans-serif, "SimSun";
    cursor: pointer;
    color: #fff;
    width: 60px;
    height: 27px;
}

div.k-footer {
    padding: 10px;
    position: absolute;
    bottom: 0;
}

.k-window{ 
     width:250px; 
     background-color:#d0def0; 
     position:absolute; 
     padding:2px; 
     margin:5px; 
     display:block; 
}

.k-edit-inline {
    padding: 10px;
    position: absolute;
    width: 300px;
}

.k-textbox {
    
}